/*
***
** Gestionale ITS
***
**  CSS TABLE OF CONTENTS
**
**  1.0 - Variables
**  2.0 - Reset
**  3.0 - Fonts
**  4.0 - Globals
**  5.0 - Header
**  6.0 - Footer
**  7.0 - HOME
**  8.0 - Login
**  -1 - Responsive Responsive
**
****
*/

/* ==========================================================================
   1.0  Variables
   ========================================================================== */
:root {
  --bg-color: #f7f7f2;
  --nav-color: #e4e4e0;
  --black: #121212;
}
/* ==========================================================================
  2.0 - Reset
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==========================================================================
  3.0 - Fonts
   ========================================================================== */
/* @font-face {
  font-family: "helvetica";
  src: local("helvetica"), url("../fonts/helvetica.woff2") format("woff2");
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ==========================================================================
  4.0 - Globals
   ========================================================================== */
body * {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: var(--black);
  font-weight: 500;
}
body {
  background-color: var(--bg-color);
  overflow-y: hidden;
  position: relative;
}

.btn-itssi {
  border: 2px solid white;
  width: fit-content;
  color: white;
  padding: 6px 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
  margin-top: 12px;
  margin-right: 16px;
  background-image: linear-gradient(102deg, #43c5e4 1%, #454495 70%, #36418d 83%, #043673 101%);
  transition: all ease-in-out .7s;
}
.btn-itssi:hover{
  color: white;
  background-color: transparent;
  border-color: white;
  border-radius: 32px;
}
/* ==========================================================================
   5.0 - Header
   ========================================================================== */
header.site-header nav {
  background-color: var(--nav-color);
  min-height: 40px;
  padding: 8px 24px;
  border-radius: 24px;
  margin: 12px auto;
  width: 95vw !important;
  max-width: 95vw !important;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 24px;
}
header.site-header nav.container .row {
  align-items: center;
}

header.site-header nav.container .row .col-md-4 .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.site-header nav.container .row .col-md-4 .nav-logo svg {
  transform: scale(0.75);
}
header.site-header nav.container .row .col-md-4 .nav-menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
header.site-header nav.container .row .col-md-4 .nav-menu .menu-item {
  padding: 0 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.site-header nav.container .row .col-md-4 .nav-menu .menu-item a {
  color: var(--black);
  font-weight: 500;
  line-height: 1;
  text-decoration: unset;
  font-size: 14px;
}
header.site-header nav.container .row .col-md-4 .nav-menu.nav-menu-right {
  justify-content: flex-end;
}

/* ==========================================================================
  6.0 - Footer
   ========================================================================== */
footer.site-footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}
/* ==========================================================================
  7.0 - main
   ========================================================================== */
main.site-main {
  padding-top: 140px;
}
main.site-main .container .row .col-md-10 form input,
main.site-main .container .row .col-md-10 form select,
main.site-main .container .row .col-md-10 form textarea {
  padding: 12px 18px;
  border-radius: 18px;
}
main.site-main .container .row .col-md-10 form label {
  padding-left: 18px;
  margin-bottom: 6px;
}
/* ==========================================================================
  8.0 - login
   ========================================================================== */

/* Qui aggiungeremo il css relativo alla pagina login.html */
main.site-main.panel_login .alert{
  max-width: 400px;
  margin: 0 auto;
  height: 60px;
}

main.site-main.panel_login .container .row .col-md-10.mx-auto{
  margin-top: 24px;
}
main.site-main.panel_login .container-form {
  max-width: 400px;
  height: auto;
  background: #c9c9c9;
  background: linear-gradient(
    135deg,
    rgba(201, 201, 201, 1) 0%,
    rgba(196, 196, 196, 0.1) 90%
  );
  height: 400px;
  border: 1px solid #bbb;
  padding: 24px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main.site-main.panel_login .container-form .container-form_header h1 {
  font-size: 24px;
}
main.site-main.panel_login .container-form .container-form_header h4 {
  font-weight: 300;
}

main.site-main.panel_login .container-form .container-form_body form .row .col {
  display: flex;
  flex-direction: column;
}

main.site-main.panel_login
  .container-form
  .container-form_body
  form
  .row
  .col
  .forgot-psw-text {
  font-size: 12px;
  margin-top: 4px;
  margin-left: auto;
  opacity: 0.75;
}

/* ==========================================================================
  -1 - Responsive
   ========================================================================== */
/* XXX-Large devices (large desktops, less than 1800px) */

@media (max-width: 1799.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
      2.0 - Reset
       ========================================================================== */
  /* ==========================================================================
      3.0 - Fonts
       ========================================================================== */
  /* ==========================================================================
      4.0 - Globals
       ========================================================================== */
  /* ==========================================================================
       5.0 - Header
       ========================================================================== */
  /* ==========================================================================
      6.0 - Footer
       ========================================================================== */
  /* ==========================================================================
      7.0 - HOME
       ========================================================================== */
}

/* XX-Large devices (large desktops, less than 1600px) */

@media (max-width: 1599.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 768.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 321px) */

@media (max-width: 320.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}
